<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name="RetirementDbContext" connectionString="data source = LAPTOP-ESB9CG5M\SQLEXPRESS; initial catalog = RetirementDb; integrated security =SSPI" providerName="System.Data.SqlClient"/>
		</connectionStrings>
</configuration>